@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.nav {
    border-bottom: 1px solid navy;
}

.s-ntwk span {
    border: 1px solid navy;
    margin-top: 1rem;
    border-radius: 50%;
}

ul.arrows li:hover a, ul.arrows li:hover span i{
    color: #fff;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact span {
    border-radius: 50%;
}